* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para garantir que o padding e a borda não aumentem o tamanho total */
    font-weight: 900;
}

body {
    background: linear-gradient(#2a2a2a, #000000);
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 32px;

    font-family: Helvetica,Arial,sans-serif;
}

h1 {
    font-weight: 900;
}

.main-div {
    height: 90vh;
    width: 75vh;
    background-color: #121212;
    margin: 0;
    border-radius: 8px;
    color: white;
    padding: 22px 0; /* Adicionando um padding no topo e na base */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.transp-line {
    width: 75%;
    background-color: rgba(93, 93, 93, 0.3);
}

.buttons-placeholder {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons-placeholder .btn {
    border-color: #585858;
    border-radius: 40px;
    background-color: transparent;
    color: white;
    font-weight: 900;
    width: 20rem;
    height: 2.25rem;

    display: inline-flex; /* Faz com que o SVG e o botão fiquem na mesma linha */
    align-items: center;
    justify-content: center;
}

.buttons-placeholder .btn svg {
    margin-right: 8px;
}

.buttons-placeholder .btn:hover {
    border: solid 2px white;
    background-color: transparent;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-control {
    width: 20rem;
    height: 3rem;
}

.form-control {
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 8px;
    
}

.form-control:focus {
    background-color: transparent;
    color: white;
    border: solid 3px white;
    box-shadow: none;
}

.btn-outline-secondary {
    border-color: white;
    border-radius: 0px 8px 8px 0px;
}

.btn-outline-secondary:hover {
    box-shadow: none;
    border: solid 2px white;
    color: #000000;
    background-color: white;
}

/* Ajustando o estado ativo para remover a cor cinza e o box shadow */
.btn-outline-secondary:active {
    box-shadow: none; /* Remove o box shadow */
    border: solid 2px white; /* Mantém a borda branca */
    color: #000000; /* Cor do texto */
    background-color: white; /* Mantém o fundo branco */
}

/* Ajustando o estado de foco para evitar cinza também */
.btn-outline-secondary:focus {
    box-shadow: none; /* Remove o box shadow */
    border: solid 2px white; /* Mantém a borda branca */
    outline: none; /* Remove o outline padrão */
}

.submit-btn {
    width: 20rem;
    height: 3rem;
    border-radius: 40px;
    color: #000000;
    font-weight: 900;
    background-color: #1DD760;
}

.submit-btn:hover {
    color: #000000;
    transform: scale(1.05);
    background-color: #3ac36c;
}

.invisible {
    border: none;
    border-color: transparent;
    color: white;
}