doctype html
html(lang="pt-br")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/header.css")
    link(rel="stylesheet", href="/stylesheets/footer.css")
    title Música para todos - Spotify
    link(rel="icon", href="imagens/favicon.png")
  
  body
    include components/header
    
    section#home.d-flex
      .container.align-self-center
        .row
          .col-md-12.capa
            #carousel-spotify.carousel.slide(data-ride="carousel")
              .carousel-inner
                .carousel-item.active
                  h1 Música para todos
                  a.btn.btn-lg.btn-custom.btn-roxo(href="/login") Aproveite o Spotify Free
                  a.btn.btn-lg.btn-custom.btn-branco(href="https://www.spotify.com/br-pt/premium/") Obter Spotify Premium
                .carousel-item
                  h1 As melhores rádios
                  a.btn.btn-lg.btn-custom.btn-branco(href="/login")
                    i.fas.fa-music Ouça agora
              // Controles
              a.carousel-control-prev(href="#carousel-spotify", data-slide="prev")
                i.fas.fa-angle-left.fa-3x
              a.carousel-control-next(href="#carousel-spotify", data-slide="next")
                i.fas.fa-angle-right.fa-3x
    
    section#servicos.caixa
      .container
        .row
          .col-md-6
            .row.albuns
              .col-md-6
                img(src="imagens/img1.jpg", class="img-fluid")
              .col-md-6
                img(src="imagens/img2.jpg", class="img-fluid")
            .row.albuns
              .col-md-6
                img(src="imagens/img3.jpg", class="img-fluid")
              .col-md-6
                img(src="imagens/img4.jpg", class="img-fluid")
          .col-md-6
            h2 O que o Spotify tem?
            h3 Músicas
            p O Spotify tem milhões de músicas. Escute seus sons favoritos, descubra novas músicas e reúna seus favoritos em um só lugar.
            h3 Playlists
            p No Spotify você encontra uma playlist para cada momento. Todas feitas por fanáticos e especialistas da música.
            h3 Novos lançamentos
            p Escute os novos lançamentos de singles e álbuns da semana e veja o que está bombando no Top 50.
    
    section#recursos.caixa
      .container
        .row
          .col-md-4
            h2 Fácil
            h3 Buscar
            p Já sabe o que quer escutar? É só procurar e apertar o play.
            h3 Navegar
            p Veja os novos lançamentos, o que está bombando nas paradas e as melhores playlists para o seu momento.
            h3 Descobrir
            p Curta músicas novas toda segunda-feira com uma playlist personalizada pra você. Ou relaxe e curta uma das rádios.
          .col-md-8
            .row.rotacionar
              .col-md-6
                img(src="imagens/iphone1.png", class="img-fluid")
              .col-md-6
                img(src="imagens/iphone2.png", class="img-fluid")
    
    include components/footer
    
    // JavaScript (Opcional)
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")