//- Component Header
header
  nav.navbar.navbar-expand-md.navbar-light.fixed-top.navbar-transparente
    .container
      a.navbar-brand(href="index.html")
        img(src="imagens/spotify.svg", width="142")
      button.navbar-toggler(data-toggle="collapse", data-target="#nav-principal")
        i.fas.fa-bars.text-white
      .collapse.navbar-collapse#nav-principal
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="") Premium
          li.nav-item
            a.nav-link(href="") Ajuda
          li.nav-item
            a.nav-link(href="") Baixar
          li.nav-item.divisor
          li.nav-item
            a.nav-link(href="") Inscrever-se
          li.nav-item
            a.nav-link(href="") Entrar