//- Component Header
header
  nav.navbar.navbar-expand-md.navbar-light.fixed-top.navbar-transparente.mb-5
    .container
      a.navbar-brand(href="/")
        img(src="imagens/spotify.svg", width="142")
      button.navbar-toggler(data-toggle="collapse", data-target="#nav-principal")
        i.fas.fa-bars.text-white
      .collapse.navbar-collapse#nav-principal
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="https://www.spotify.com/br-pt/premium/") Premium
          li.nav-item
            a.nav-link(href="https://support.spotify.com/br-pt/") Ajuda
          li.nav-item
            a.nav-link(href="https://www.spotify.com/br-pt/download/windows/") Baixar
          li.nav-item.divisor
          li.nav-item
            a.nav-link(href="https://www.spotify.com/br-pt/signup?forward_url=https%3A%2F%2Fopen.spotify.com%2F") Inscrever-se
          li.nav-item
            a.nav-link(href="/login") Entrar