//- Component Footer
footer
  .container
    .row
      .col-md-2
        img(src="imagens/spotify.svg", width="142")
      .col-md-2
        h4 company
        ul.navbar-nav
          li
            a(href="https://www.spotify.com/br-pt/about-us/contact/") Sobre
          li
            a(href="https://www.lifeatspotify.com") Empregos
          li
            a(href="https://newsroom.spotify.com") Imprensa
          li
            a(href="") Novidades
      .col-md-2
        h4 comunidades
        ul.navbar-nav
          li
            a(href="https://artists.spotify.com/home") Artistas
          li
            a(href="https://developer.spotify.com") Desenvolvedores
          li
            a(href="https://ads.spotify.com/pt-BR/") Marcas
      .col-md-2
        h4 links uteis
        ul.navbar-nav
          li
            a(href="https://support.spotify.com/br-pt/") Ajuda
          li
            a(href="") Presentes
          li
            a(href="https://open.spotify.com") Player da web
      .col-md-4
        ul
          li
            a(href="https://www.facebook.com/Spotify/?locale=pt_BR")
              img(src="imagens/facebook.png")
          li
            a(href="https://twitter.com/spotifybr")
              img(src="imagens/twitter.png")
          li
            a(href="https://www.instagram.com/spotify/")
              img(src="imagens/instagram.png")
